version: '3.4'

services:

  # host:
    # build: ./HostHub
    # image: luca/hosthub:latest
    # restart: always
    # depends_on:
    #   - sql
    # links:
    #   - sql
    #   - nginx
    # volumes:
    #   - /mnt/data/containers/host:/var/www
    # hostname: hosthub
    # networks: 
    #   frontend:
    #     ipv4_address: 10.24.1.10
    #   backend:
    # ports: 
    #   - "8080:80"

  box:
    image: luca/boxhub:latest
    build: ./BoxHub
    restart: always
    depends_on: 
      - sql
    links:
      - sql
      - nginx
    volumes:
      - /mnt/data/containers/box:/var/www/html
    hostname: boxhub
    networks: 
      frontend:
        ipv4_address: 10.24.1.21
    ports: 
      - "8082:80"
    # security_opt:
    #   - apparmor=dockbox
  sql:
    build: ./SQLHub
    image: luca/sqlhub:latest
    restart: always
    volumes: 
      - /mnt/data/containers/sql:/var/lib/mysql
    # environment:
    #   - MYSQL_ROOT_PASSWORD=${ROOT_PSWD}
    #   - MYSQL_USER=${USR}
    #   - MYSQL_PASSWORD=${PSWD}
    hostname: sqlhub  
    networks: 
      frontend: 


  nginx:
    image: luca/nginx:latest
    build: ./nginx  
    network_mode: host
    security_opt:
      - apparmor=docknginx


  ftp:
    image: luca/ftphub:latest
    build: ./FTPHub
    volumes:
      - /mnt/data/containers/ftp/luca:/home/luca
      # - /mnt/data/containers/ftp/guest:/home/guest
      # - /mnt/data/containers/ftp/cctv:/home/cctv
    hostname: ftphub
    network_mode: host
    security_opt:
      - apparmor=dockftp


  plex:
    image: plexinc/pms-docker 
    volumes:
      - /mnt/data/containers/plex/database:/config
      - /mnt/data/containers/plex/transcode:/transcode
      - /mnt/data/containers/plex/media:/data
    hostname: PlexHub
    network_mode: host

networks: 
  frontend:
    driver: bridge
    ipam:
      config:
        - subnet: 10.24.1.0/26
