version: '3.4'

services:
  host:
    build: ./HostHub
    image: luca/hosthub:latest
    restart: always
    depends_on:
      - sql
    # volumes:
    #   - /home/luca/Template:/var/www
    hostname: hosthub
    networks: 
      frontend:
        ipv4_address: 10.24.1.10
      backend:
    ports: 
      - "8080:80"

  sql:
    build: ./SQLHub
    image: luca/sqlhub:latest
    restart: always
    volumes: 
      - mariadb:/var/lib/mysql
    # environment:
    #   - MYSQL_ROOT_PASSWORD=${ROOT_PSWD}
    #   - MYSQL_USER=${USR}
    #   - MYSQL_PASSWORD=${PSWD}
    hostname: sqlhub  
    networks: 
      frontend:

  # box:
  #   image: luca/boxhub:latest
  #   build: ./BoxHub
  #   restart: always
  #   depends_on: 
  #     - sql
  #   volumes:
  #     - 
  #   hostname: boxhub
  #   networks: 
  #     frontend:
  #       ipv4_address: 10.24.1.21
  #     backend:
  #   ports: 
  #     - "8082:80"

  plex:
    image: plexinc/pms-docker 
    volumes:
      - ./plex/data/database:/config
      - ./plex/data/transcode:/transcode
      - ./plex/data/media:/data
    hostname: PlexHub
    network_mode: host

  nginx:
    image: luca/nginx:latest
    build: ./nginx
    depends_on: 
      - host
      - sql
    #   - nextcloud  
      - plex    
    network_mode: host


  ftp:
    image: luca/ftphub:latest
    build: ./FTPHub
    volumes:
      - ./data:/home/guest
    hostname: ftphub
    network_mode: host


volumes:
  mariadb:

networks: 
  backend:
    driver: bridge
  frontend:
    driver: bridge
    ipam:
      config:
        - subnet: 10.24.1.0/26
